<template>
  <page-layout-default>
    <template v-slot:header>
      <main-menu />
    </template>
    <router-view :key="$route.path" class="content" />
    <template v-slot:aside-section>
      <keep-alive>
        <component v-bind:is="'MainMap'" />
      </keep-alive>
    </template>
  </page-layout-default>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MainMenu from "./MainMenu.vue";
import PageLayoutDefault from "./PageLayoutDefault.vue";

@Component({
  components: {
    PageLayoutDefault,
    MainMenu,
    "MainMap": () => import("./MainMap.vue")
  }
})
export default class DefaultLayout extends Vue {}
</script>
<style scoped>
.content {
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.map {
  width: 60%;
  height: 100vh;
}
</style>
