<template>
  <div>
    Detail
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Detail extends Vue {}
</script>
<style scoped lang="scss"></style>
