<template>
  <div>
    List
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class List extends Vue {}
</script>
<style scoped lang="scss"></style>
