<template>
  <div class="main-menu">
    <router-link to="/">List</router-link>
    <br />
    <router-link to="/detail">Detail</router-link>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class MainMenu extends Vue {}
</script>
<style scoped lang="scss"></style>
