<template>
  <div class="page-layout-default">
    <slot name="header"></slot>
    <slot class="page-main-section"></slot>
    <slot name="aside-section" class="page-aside-section"></slot>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class PageLayoutDefault extends Vue {}
</script>
<style lang="scss" scoped>
.page-layout-default {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: unset;
}
.page-aside-section {
  width: 60%;
  height: 100vh;
}
</style>
