<template>
  <div id="application">
    <router-view class="app-content" :key="$route.path" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {}
</script>

<style scoped lang="scss">
#application {
  width: 100%;
  height: 100vh;
  max-width: unset;
  display: flex;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.app-content {
  height: 100vh;
  overflow: auto;
}
</style>
